.login {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 500px;
  margin: 200px auto;
  padding: 25px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-text {
  color: #1976d2;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.input-name-field {
  padding: 10px;
  width: 354px;
  margin-bottom: 15px;
}

.input-password-field {
  width: 354px;
  /* margin-bottom: 10px; */
}

.btn-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-error-text {
  margin-bottom: 15px;
  /* background-color: orangered; */
  height: 25px;
  width: 270px;
  text-align: center;
  /* padding: 5px; */
}
