.search-contacts-field {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  align-items: center;
  justify-items: start;
}

.menu-icon {
  margin: auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.menu-icon:hover {
  color: #ced4da;
  color: #adb5bd;
}

.search-input {
  width: 95%;
  border-radius: 2.8px;
}
