.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 110px;
  width: 2400px;
  position: relative;
  top: 0%;
  transform: translate(14.88%, 50%);
  right: 1200px;
}

.app-area {
  position: absolute;
  top: 0;
  right: 0;
  height: 850px;
  width: 1200px;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 1;
}

.contacts-container {
  /* background-color: #fff; */
  display: grid;
  grid-template-rows: 0.18fr 1.82fr;
}

.message-container {
  /* background-color: #fff; */
  display: grid;
  grid-template-rows: 0.18fr 1.69fr 0.13fr;
}
