.menu-area {
  display: grid;
  grid-template-columns: 0.7fr 1.7fr;
  position: absolute;
  top: 0;
  right: 0;
  height: 850px;
  width: 1200px;
  border-radius: 5px;
  z-index: 5;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.menu-area-2 {
  background-color: #a5d8ff;
  height: 850px;
  width: 1200px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-100%);
  z-index: 10;
}

.menu {
  opacity: 1;
  display: grid;
  grid-template-rows: 0.3fr 1fr 0.14fr;
  transition: all 0.5s ease-in-out;
}

.menu-current-account {
  display: grid;
  grid-template-rows: 1fr 0.7fr;
  z-index: 10;
}

.menu-account-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto auto 30px;
  color: #fff;
  font-size: 22px;
  background-color: #9775fa;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.menu-account-name-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.menu-account-name {
  font-size: 20px;
  font-weight: 600;
}

.menu-emoji-status {
  color: #339af0;
  font-size: 18px;
}

.menu-account-name-field-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #adb5bd;
  transition: all 0.3s ease-in-out;
}

.menu-buttons {
  border-top: 1px solid #f1f3f5;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

.menu-btn-add-contact-and-logout-field {
  border-bottom: 1px solid #f1f3f5;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.add-contact-field {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-content: center;
  padding-left: 35px;
  height: 55px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-contact-field:hover {
  background-color: #f1f3f5;
}

.btn-add-contact {
  background-color: #40c057;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.btn-add-contact-text {
  font-size: 18px;
  font-weight: 700;
}

.logout-field {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-content: center;
  padding-left: 35px;
  height: 55px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logout-field:hover {
  background-color: #f1f3f5;
}

.logout-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f06595;
  padding-left: 4px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 30px;
  color: #fff;
}

.logout-text {
  font-size: 18px;
  font-weight: 700;
}

.menu-button {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-content: center;
  height: 55px;
  width: 100%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #f1f3f5;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  padding: 15px;
  height: 32px;
  width: 32px;
  border-radius: 10px;
  color: #fff;
}

.clr-blue {
  background-color: #74c0fc;
}

.clr-yellow {
  background-color: #f59f00;
}

.clr-red {
  background-color: #fa5252;
}

.clr-green {
  background-color: #40c057;
}

.clr-violet {
  background-color: #9775fa;
}

.clr-indigo {
  background-color: #748ffc;
}

.btn-name {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin-left: 8px;
}

.btn-night-mode-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.app-version-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
  color: #adb5bd;
}

.app-version-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.empty-menu {
  background-color: #000;
  opacity: 0.5;
}
