.contacts-list {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 772px;
  cursor: pointer;
}

.contacts-list::-webkit-scrollbar {
  width: 4px;
}

.contacts-list::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 10px;
}

.contacts-list::-webkit-scrollbar-thumb:hover {
  background-color: #495057;
}
